body {
  background-color: #232323;
}

h2 {
  color: white;
}

p {
  color: white;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}
